*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5fdf7;
}

header{
    background:linear-gradient(90deg,#2ecc71,#27ae60);
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    font-size:45px;
}

nav{
    background:#145a32;
    display:flex;
    justify-content:center;
}

nav a{
    color:white;
    text-decoration:none;
    padding:15px 25px;
    font-size:18px;
}

nav a:hover{
    background:#2ecc71;
}

.hero{
    text-align:center;
    padding:60px;
    background:url("https://images.unsplash.com/photo-1444464666168-49d633b86797?w=1400") center/cover;
    color:white;
}

.hero h2{
    font-size:42px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.hero button{
    padding:12px 30px;
    border:none;
    background:#27ae60;
    color:white;
    font-size:18px;
    border-radius:25px;
    cursor:pointer;
}

.hero button:hover{
    background:#145a32;
}

.birds{
    display:flex;
    justify-content:center;
    gap:35px;
    padding:50px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    overflow:hidden;
    text-align:center;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin:15px;
    color:#145a32;
}

.card p{
    font-size:20px;
    color:#e74c3c;
    margin-bottom:15px;
}

.card button{
    margin-bottom:20px;
    padding:10px 25px;
    border:none;
    background:#2ecc71;
    color:white;
    border-radius:20px;
    cursor:pointer;
}

.card button:hover{
    background:#145a32;
}

footer{
    background:#145a32;
    color:white;
    text-align:center;
    padding:18px;
    margin-top:20px;
}